.audio__wrapper {
    position: absolute;
    width: 3rem;
    height: 3rem;
    z-index: 20000;
    top: 5%;
    right: 5%;

    svg {
        height: 100%;
        width: 100%;
    }

    &:hover {
        cursor: url('../../assets/imgs/Cursor_Down.png'), auto;
    }
}

.modal-wrapper .audio__wrapper {
    top: 2.5%;
    left: 50%;
}