.game-container {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../assets/imgs/main-game-bg3.png);
    background-size: cover;
    background-repeat: no-repeat no-repeat;
}

.game-board {
    grid-area: board;
    display: flex;

    .player-wrapper,
    .computer-wrapper,
    .harbor-wrapper {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;

        p {
            font-family: 'menu';
        }
    }

}

.footer-bar {
    grid-area: footer;
}

.player-board-container,
.computer-board-container {
    display: flex;
    width: 30rem;
    height: 30rem;
    justify-content: center;
    align-items: center;
    position: relative;



}

.computer-board-container {
    &:hover {
        cursor: url(../../assets/imgs/sniper-297661.svg), pointer;
    }

    [class*='square-'] {
        &:hover {
            animation: blink 2s ease infinite;
        }
    }
}

// Cells style
[class*='square-'] {
    border: 0.1rem solid rgb(212, 167, 82);
    box-shadow: 0 0 .1rem #fff,
        0 0 .1rem #fff,
        0 0 0.25rem rgb(212, 167, 82),
        0 0 0.25rem rgb(212, 167, 82),
        0 0 0.25rem rgb(212, 167, 82),
        inset 0 0 .05rem rgb(212, 167, 82);
    display: flex;
    justify-content: center;
    align-items: center;


}

@keyframes blink {
    0% {
        background-color: rgb(38, 38, 209);
    }

    50% {
        background-color: rgb(10, 10, 116);
    }

    100% {
        background-color: rgb(38, 38, 209);
    }
}

.axis-changer {
    grid-area: axis;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 10rem;
        height: 5rem;
        background: url(../../assets/imgs/Imperialis.png) center/cover no-repeat;
        bottom: -100%;
        margin-left: auto;
        margin-right: auto;
    }

    button {
        width: 9rem;
        height: 3rem;
        align-self: center;
        padding: 0.3rem 0.5rem;
        margin-top: 2rem;
        font-size: 0.7rem;
        position: relative;
        color: white;
        border: none;
        padding: 10px 0;

        background: url(../../assets/imgs/btn-gold-bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        font-family: 'menu';
        z-index: 99;
        filter: grayscale(100%);
        text-shadow: -1px -1px 0 rgba(0, 0, 0, .5);

        &::before,
        &::after {
            content: '';
            height: 100%;
            width: 60%;
            display: block;
            position: absolute;
            top: 0;
            z-index: -2;
        }

        &::before {
            background: url(../../assets/imgs/btn-gold-left.png);
            left: -25%;
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }

        &::after {
            background: url(../../assets/imgs/btn-gold-right.png);
            right: -25%;
            height: 100%;
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }

        &:hover {
            filter: grayscale(0%);
        }
    }
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.hovered {
    background-color: rgba(152, 94, 239, 0.562);
}

.error {
    background-color: rgba(218, 130, 72, 0.562);

}


.miss,
.sunk {
    cursor: not-allowed;
}