* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

html,
body {
    overflow-x: hidden;
}

body {
    max-width: 100vw;
    cursor: url('./assets/imgs/Cursor_Default.png'), auto;
}

button {
    cursor: url('./assets/imgs/Cursor_Down.png'), auto;
}

.App {
    width: 100%;
    height: auto;
    color: white;
}