.ship-harbor {
    width: 30rem;
    height: 30rem;
    gap: 0.3rem;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    background: url(../../assets/imgs/blackhole4.png);
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;


    svg {
        fill: rgb(166, 184, 108);
    }
}